

<h2>Pizza list</h2>



    @foreach (var item in Model)
    {
        <div class="row container font-weight-bold ">
            @{ if (item.IsOnPromotion)
                {
                    <h4> "On PROMOTION!!" </h4>
                }
                else
                {
                    <h4> "NO promotion!!" </h4>
                }
            }

            <div class="col-md-12 border text-left border-info text-left"> @item.Id</div>

            <div class="col-md-1 border text-left border-info">Name: </div>
            <div class="col-md-11 text-left border"> @item.Id @item.Name</div>
            <div class="col-md-1 border text-left border-info">Size: </div>
            <div class="col-md-11 text-left border"> @item.PizzaSize</div>
            <div class="col-md-1 border text-left border-info">Price: </div>
            <div class="col-md-11 text-left border"> $@item.Price</div>


        </div>
    }


